*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
*.swp
*.log

# Translations
*.mo

# Mr Developer
.project
.pydevproject
flask
.idea
*.xml

# SQLite databases
*.sqlite

# Virtual environment
venv

# IDE temp files
.idea

# Temproary files
files
v1
v2
